.Main {
  background-color: #d8d8d8;
  background-image: url(https://images.unsplash.com/photo-1520609798519-2e1e8c18df3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 24px;
 
}


/* Input start*/

.InputWrap {
  display: flex;
  height: 50px;
  margin-bottom: 24px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
}



.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color:-webkit-linear-gradient(180deg, #5396ee,#93bbe1,#5aa7e2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #5396ee,#93bbe1,#5aa7e2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                               ;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/*Input Finish*/
/*Card Start*/

.CardList{
  display: flex;
  /* flex-wrap: wrap; */
}

.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  /* background-color: #3a8ac0 ; */
   background: -webkit-linear-gradient(180deg, rgba(134, 199, 249, 1),rgba(12, 137, 233, 0.1));/* Chrome 10-25, Safari 5.1-6 */       
    background: linear-gradient(180deg, rgba(134, 199, 249, 1),rgba(12, 137, 233, 0.4));/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                               
  
  

  font-size: 14px;
  color: #fff;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
}

.Card:first-child{
  margin-left:  0;
}

.MainInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Wrap_button_del{
  display: flex;
  justify-content: end;
  
}

.DeleteCitiCard{
  border: none;
  border-radius: 5px;
  background: #bed3e2;
  color: #3a8ac0;

}

.EditCitiCard{
  border: none;
  border-radius: 5px;
  background: #bed3e2;
  color: #3a8ac0;
  margin-right: 5px;

}

.Title {
  font-size: 24px;
  font-weight: 500;
}

.Description {
  margin-top: 4px;
  font-size: 16px;
}

.Temperature {
  margin-top: 12px;
  font-size: 40px ;
  font-weight: 500;
}
.Temperature::after{
  content: "°";
}


.Informaciton {
  margin-top: 12px;
}

.Informaciton > div {
  margin-top: 4px;
}
/*Card Finish*/